<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ar.com.gcba.patrimonio"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Patrimonio Cultural</name>

    <description>
        GCBA
    </description>

    <author href="http://rga.com/about/locations/buenos-aires/" email="support@phonegap.com">
        R/GA
    </author>

    <!-- recommended for Android platform -->
    <preference name="orientation" value="portrait" />
    <icon src="icon.png"/>



</widget>