<div class="row">
  <div class="twelve columns">
    <ul >
      <li class="field">
        <input class="large search input" type="searcg" placeholder="Que obra urbana queres buscar?" ng-model="query">
        </ul>
        <ul>
          <li ng-repeat="point in points | filter:query">
          <div class="large ">
             <h1> {{point.tag}} </h1>
             <img ng-src={{point.map}}>
             <img ng-src={{point.picture}}>
          </div>
        </li>
      </ul>
    </div>
  </div>
