<div class="row">
  <div class="twelve columns">
    <!-- <input class="large search input" type="searcg" placeholder="Que obra urbana queres buscar?" ng-model="query"> -->
    <div class="google-map"
      center="centerProperty"
      zoom="zoomProperty"
      markers="markersProperty"
      latitude="clickedLatitudeProperty"
      longitude="clickedLongitudeProperty"
      mark-click="false"
      draggable="true"
      zoom="true"
      fit="true"
      style="height: 400px; width: 100%"
      zoom-control="true">
    </div>
  </div>
</div>
