<div class="row">
  <div class="twelve columns">
    <ul >
      <li class="field">
        <input class="large search input" type="searcg" placeholder="Que obra urbana queres buscar?" ng-model="query">
        <li>
             <div class="google-map"
        center="centerProperty"
        zoom="zoomProperty"
        markers="markersProperty"
        latitude="clickedLatitudeProperty"
        longitude="clickedLongitudeProperty"
        mark-click="false"
        draggable="true"
        zoom="true"
        fit="true"
        style="height: 400px; width: 100%"
        zoom-control="true">
      </div>
      </ul>
    </div>
  </div>
