<!-- <div class="container">
  <div class="row">
    <div class="twelve columns">
     <h5> Hola! Ayudanmos a completar el patrimonio cultural de la ciudad!</h5>
   </div>
 </div>
 <div class="twelve columns">
  <p><div class="medium danger btn btn-large">
    <a href="#" ng-click="takepic()" >Sacar Foto</a>
  </div></p>
   <p><div class="medium danger btn btn-large">
    <a href="#/map" >Mapa</a>
  </div></p>
</div>
</div> -->


<div class="content">
    <p> El Patrominio Cultural Urbano es de todos. Ayudanos a recolectar informacion sobre todo el arte de la ciudad </p>

    <div class="content-buttons">
        <p><b> Como ayudar?</b></p>
        <button class="menu-button take-pic" ng-click="takepic()">SACA FOTOS</button>
        <button class="menu-button see-map" onclick="window.location.hash='/map'">DESCUBRIR MAPAS</button>
    </div>
</div>