<div >
  <div class="container">
    <div class="row">
      <div class="twelve columns">
       <h5> Hola! Ayudanmos a completar el patrimonio cultural de la ciudad!</h5>
     </div>
   </div>
   <div class="twelve columns">
    <p><div class="medium danger btn btn-large">
      <a href="#/select-user"  ng-click="">Empeza Ahora!</a>
    </div></p>

  </div>
  <div >
    <div class="container">
      <div>
        <div class="six columns">
         <div class="medium secondary btn">
          <a href="" ng-click="submitPoint()" >
           Submit!!</a>
         </div>
         <p>
           <img ng-src="{{map}}"/></p>
           <h6>Latitude {{position.coords.latitude}}</h6>
           <h6>Longitude {{position.coords.longitude}}</h6>
           <h6>Altitude {{position.coords.altitude}}</h6>
           <div class="medium primary btn">
             <a href="" ng-click="refreshLocation()">Refresh Location</a>
           </div>
         </div>
       </div>
       <div class="row" >
         <div class="twelve colgrid">
           <div class="row">
             <div class="six columns">
               <div class="medium secondary btn">
                <a href="" ng-click="takepic()">Take a Picture!</a>
              </div>
              <img ng-src="{{photo}}"/>


            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
</div>








