/* Will be compiled down to a single stylesheet with your sass files */
.slide-enter-setup {
    -webkit-transform: translateX(-100%);
    background: red;
}

.logo h3 {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    padding: 0;
}

.gallery-list {
    border: 1px solid #ccc;
    border-top: 0;
}
.gallery-list li {
    border-top: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
}
.gallery-list li img {
    display: block;
    float: left;
    max-height: 200px;
    max-width: 200px;
    width: 25%;
}
.gallery-list li h3 {
    color: #000;
    float: left;
    font: bold 16px 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    width: 50%;
}